/DataLayer/bin
/DataLayer/obj
/Domain/bin
/Domain/obj
/TestConsole/bin
/TestConsole/obj
/packages/EntityFramework.5.0.0
/packages/Ninject.3.0.1.10
/MedProga/bin
/MedProga/obj
/MedProga/App_Data
/MedProga/conn1.txt

/InfoMed.suo
/doc_int/bin
/doc_int/obj
/doc_int/doc_int.csproj.user
