<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServerConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <ServerConsole.Properties.Settings>
      <setting name="StartDayFromHour" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="EndDayFromHour" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="ReservHoursForAnsver" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NotificationCreationFrequencyInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MainDBConnectionString" serializeAs="String">
        <value>data source=54.225.159.2;initial catalog=InfoMedMainDB;persist security info=True;user id=InfoMed;password=infomed523;multipleactiveresultsets=True</value>
      </setting>
      <setting name="TrashDBConnectionString" serializeAs="String">
        <value>data source=54.225.159.2;initial catalog=InfoMedTrashDB;persist security info=True;user id=InfoMed;password=infomed523;multipleactiveresultsets=True</value>
      </setting>
      <setting name="NotificationSendingFrequencyInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DelayStartForNotificationCreatorInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DelayStartForNotificationSenderInSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SendAndReceiveSms" serializeAs="String">
        <value>False</value>
      </setting>
    </ServerConsole.Properties.Settings>
  </applicationSettings>
</configuration>